/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	margin: auto;
	width: 100%;
}
/* ....................Header.................*/
header {
	display: inline-block;
	margin: 2%;
	padding: 2%;


	
}

	header nav {
		position: absolute;
		left: 5%;
		top: 7%;

		}

		nav a {
			padding-right: 100px;
			color: white;
			  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
			  text-decoration: none;
		
		}



	header img.logo {
		position: absolute;
		right: 5%;
			
		}

/* ....................End Header.................*/

/*....................group1....................*/

#group1 {
	display: inline;
	margin: 5%;
	padding: 5%;
}

	div#top {
		position: absolute;
		top: 30%;
		left: 20%;
		text-align: center;
		
		
	}

		h1 {
			font-size: 500%;
		}

		#button {
			border: 2px solid black;
			padding: 2%;
			width: 50%;
			position: absolute;
			left: 20%;
			
		}

	#code {
		position: absolute;
		top: 20%;
		right: 5%;

		
	}
	#horizontal-line-top {
		border: 2px solid black;
		position: absolute;
		top: 80%;
		left: 5%;
		width: 90%;
	}

/*....................end group1....................*/
/*....................group2....................*/

#group2 {
	display: inline-block;
	position: absolute;
	top: 90%;
	left: 5%;
}

	#features {
		width: 40%;
	}

	#about {
		width: 40%;
		position: absolute;
		right: 5%;
		top: 0%;
	}


.middle-img {
	display: inline-block;
	position: absolute;
	top: 140%;
	left: 0%;
	width: 95%;
}
/*....................end group2....................*/

/*....................group3....................*/
#group3 {
	display: inline-block;
	position: absolute;
	top: 135%;
	left: 5%;
}


	#services {
		width: 30%;
	}

	#product{
		width: 30%;
		position: absolute;
		left: 32.5%;
		top: 0%;
	}

	#vision {
		width: 30%;
		position: absolute;
		right: 5%;
		top: 0%;
	}

/*....................end group3....................*/

#horizontal-line-bottom {
	border: 2px solid black;
	position: absolute;
	top: 150%;
	left: 5%;
	width: 90%;
}

footer {
	display: inline-block;
	position: absolute;
	top: 160%;
	left: 5%;
	margin-bottom: 30%;
}

	span {
		text-align: center;
	}

		p.bot {
			padding: 10%;

		}

	#copyright {
		position: absolute;
		left: 350%;
		width: 200%;
		top: 160%;
		
		
	}